<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>model.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Apartment</servlet-name>
        <servlet-class>model.Apartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resident</servlet-name>
        <servlet-class>model.Resident</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee</servlet-name>
        <servlet-class>model.Employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServelet</servlet-name>
        <servlet-class>controller.LoginServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeeServlet</servlet-name>
        <servlet-class>controller.FeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>controller.RequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDAO</servlet-name>
        <servlet-class>DAO.AccountDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>DAl.java</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Apartment</servlet-name>
        <url-pattern>/Apartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resident</servlet-name>
        <url-pattern>/Resident</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee</servlet-name>
        <url-pattern>/Employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServelet</servlet-name>
        <url-pattern>/LoginServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeeServlet</servlet-name>
        <url-pattern>/FeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/RequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDAO</servlet-name>
        <url-pattern>/AccountDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
</web-app>
